* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* sezione navigazione */
.blocco-navigazione {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 15px 0 15px;
  height: calc(100% - 100px);
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
}

#loghino {
  width: 60%;
  padding-bottom: 20px;
}

.blocco-navigazione ul li {
  padding-bottom: 5px;
  font-size: 10px;
}

.blocco-navigazione ul li a, #installa-john a, #piu {
  color: white;
  opacity: 0.5;
}

.blocco-navigazione h4 {
  color: white;
}

.blocco-navigazione ul li a img {
  height: 25px;
}

.blocco-navigazione ul li a {
  display: flex;
}

.blocco-navigazione ul li a:hover, #installa-john a:hover, #nav-play a:hover {
  color: white;
  opacity: 1;
}

.blocco-navigazione ul li a span {
  align-self: center;
}

.blocco-navigazione img {
  margin-right: 5px;
}

#nav-play ul {
  overflow-y: scroll;
}

#nav-play ul li, #piu {
  padding-bottom: 15px;
}

#nav-play h4 {
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 10px;
}

#piu {
  display: flex;
  align-items: center;
  font-size: 10px;
}

#piu span {
  background-color: white;
  opacity: 0.7;
  color: black;
  padding: 0 9px;
  margin-right: 5px;
  font-size: 25px;
}

#installa-john a {
  padding-bottom: 10px;
  display: flex;
}

#installa-john a span {
  font-size: 9px;
  align-self: center;
}

#installa-john img {
  height: 15px;
}

#utente {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: solid 1px grey;
}

#utente h4 {
  font-size: 10px;
  align-self: center;
}

#utente img {
  height: 25px;
  background-color: grey;
  border-radius: 50%;
}

/* corpo centrale */
main {
  margin-left: 15%;
  margin-bottom: 100px;
  background-color: #141922;
}

.bottone-up {
  background-color:rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  width: calc(100% - 15%);
}

.bottone-up button {
  background: none;
  color: white;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 9px;
}

.bottone-up button:hover {
  cursor: pointer;
  padding: 12px 27px;
  font-size: 10px;
}

/* navigazione */
main nav {
  padding-top: 70px;
}

main nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0;
  font-size: 9px;
}

main nav ul li {
  padding-right: 15px;
}

main nav ul li a {
  color: white;
  opacity: 0.5;
}

main nav ul li a:hover {
  color: white;
  opacity: 1;
}

/* sezione canzoni */

.sezione-margine {
  padding: 1%;
}

.sezione-margine h1, .sezione-margine h4, .sezione-margine h6 {
  color: white;
}

.sezione-margine h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.sezione-margine h4 {
  font-size: 12px;
  padding: 7px 0;
}

.sezione-margine h6 {
  opacity: 0.5;
  font-size: 9px;
  font-weight: lighter;
}

.canzoni {
  display: flex;
  padding: 20px 0;
}

.canzoni img {
  width: 100%;
}

.blocchino-canzone {
  padding-right: 1%;
  flex-basis: 180px;
  text-align: center;
}

.img-rotonda img {
  border-radius: 100%;
}


/* hover play */
.play-over {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: ;
}

.play-over:hover .overlay {
  opacity: 1;
  cursor: pointer;
  background-color:rgba(0,0,0,0.5);
}

.overlay a i {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-rotonda .overlay {
  border-radius: 50%;
}


/* player */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: purple;
  display: flex;
}
