* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sezione navigazione */
.blocco-navigazione {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 15px 0 15px;
  height: calc(100% - 100px);
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
}

.blocco-navigazione nav img {
  width: 60%;
}


/* corpo centrale */
main {
  margin-left: 15%;
  margin-bottom: 100px;
}

.bottone-up {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  width: calc(100% - 15%);
}

/* navigazione */

main nav ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style-type: none;
}

main nav ul li {
  padding-right: 10px;
}
/* sezione canzoni */

.sezione-margine {
  padding: 1%;
}

.canzoni {
  display: flex;
}

.canzoni img {
  width: 100%;
}


.blocchino-canzone {
  padding-right: 1%;
  flex-basis: 180px;
}

.img-rotonda img {
  border-radius: 100%;
}


/* player */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: purple;
  display: flex;
}
